.exersizes__unit {
  padding: 15px 5px 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  border-bottom: 1px solid rgba(123, 118, 114, 0.3);
  box-shadow: 0 10px 30px 5px rgba(123, 118, 114, 0.2);
}

.exersizes__header-container {
  display: flex;
  justify-content: space-between;
}

.exersizes__header-head {
  display: flex;
}

.exersizes__header-item {
  padding-right: 10px;
}

.exersizes__body {
  text-align: justify;
  padding: 15px 0 25px 0;
}

.exersizes__code-div {
  line-height: 1.6em;
}

.exersizes__red-span {
  font-family: 'Roboto Condensed', serif;
  font-size: 18px;
  text-decoration: underline;
  color: red;
}

.exersizes__green-span {
  color: green;
  font-family: 'Roboto Condensed', serif;
}

.exersises {
  display: flex;
  flex-wrap: wrap;
}

.exersise {
  border-radius: 10px;
  flex: 3 1 100px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.exersise__cont {
  flex-grow: 1;
  width: 33%;
  height: 100%;
  display: flex;
}

.exersise__header {
  background-color: #303030;
  color: #ffc222;
  padding: 10px 30px;
  border-radius: 10px 10px 0px 0px;
}

.exersise__body {
  padding: 10px 30px;
  height: 100%;
  background-color: #c5c5c5;
  color: #303030;
  font-family: 'Roboto Condensed', serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.exersise__footer {
  display: flex;
  background-color: #303030;
  color: #ffc222;
  border-radius: 0px 0px 10px 10px;
}

.exersise__footer span {
  padding: 10px 30px;
}

.ex-form__flex {
  display: flex;
}

.ex-form__flex select,
.ex-form__flex div {
  margin-right: 1rem;
}

.filter-buttons__button-up,
.filter-buttons__button-down {
  margin: 2px;
  width: 20px;
  height: 20px;
  background-color: #ffc222;
  border-radius: 48%;
  cursor: pointer;
}
.filter-buttons__button-up::before,
.filter-buttons__button-down::before {
  position: relative;
  display: table-cell;
  text-align: center;
  top: 4px;
  left: 4px;
  width: 10px;
  font-family: 'icomoon';
  font-size: 10px;
  padding: 7px;
  border-radius: 48%;
  color: #ffc222;
  background-color: #303030;
}

.filter-buttons__button-up::before {
  content: '\f102';
}

.filter-buttons__button-down::before {
  content: '\f103';
}

.paginationBttns {
  margin: 0 auto;
  display: flex;
  list-style: none;
  width: 80%;
  height: 40px;
  line-height: 40px;
  justify-content: center;
}

.paginationBttns > * {
  padding: 0 10px;
  cursor: pointer;
}

.pagnationActive {
  background-color: #c0c0c0;
}

.pagnationActive > * {
  outline: none;
  border: none;
}
