.user-info{
    position:absolute;
    right:4%;
    top:0px;
    overflow: hidden;
    padding-right: 10px;
    display: flex;
    background-color: #303030;
    height: 45px;
    border-radius: 20px;
    transition: all 0.3s;
}
.user-info:hover{
    height: 92px;
}
.user-info__main{
    display:flex;
    flex-direction:column;
    padding: 0px 30px;
    height: 45px;
}
.user-info__item{
    
    padding-left:35px;
    color: #cbcacb;
    letter-spacing: 0.25px;
    line-height: 43px;
}