.tooltips {
    position: absolute;
    display:flex;
    flex-direction: column;
    max-height: 50hv;
    min-width: 200px;
    max-width: 500px;
    margin-top: 25px;
    padding:15px;
    background-color: rgba(250,250,250,0.9);
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    z-index: 2;
    box-shadow: 0 4px 16px rgb(88, 88, 88);
    transition: .5s;
}

.tooltips__notfound{
    margin: 0 auto;
}

.tooltips__toolitem{
    padding-top:10px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: .5s;
    
}

.tooltips__toolitem:hover{
    font-weight: bold;
}