.pageselector{
    padding:3px;
    display:flex;
    justify-content: center;
    padding:15px;
}

.pageselector__item{
    padding-right: 2px;
    padding-left: 2px;
    cursor: pointer;
}

.pageselector__item.selected {
    font-weight: bold;
}