.formula__container {
    position:relative;
    display:flex;
    flex-direction: column;
}

.formula_item {
    display:flex;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #FFC222;
    align-items: center;
    justify-content: space-between;
    align-content: stretch;
}

.formula_dimensions, 
.formula_description, 
.formula_body, 
.formula_name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px;
}

.formula_dimensions {
    align-self: stretch;
    align-items: center;
    width: 8%;
}
.formula_dimensions div {
    text-align: center;
    align-self: stretch;
}

.formula_description {
    align-self: stretch;
    width: 35%;
}

.formula_body {
    width: 25%;
}

.formula_body > div {
    padding-top: 5px;
    padding-bottom: 5px;
}

.formula_name {
    width: 30%;
}

.formula__input_group{
    display:flex;
    padding: 10px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 3rem;
    min-width: 200px;
    max-width: 500px;
    margin-left: auto;
    justify-content: space-between;
}

.formula__input_group input,
.formula__input_group button{
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 18px;
    background-color: transparent;
}

.formula__input_group input{
    position:relative;
    border:none;
    min-width: 80%;
}

.formula__input_group input:focus {
    border:none;
    outline: none;
}

.formula__input_button{
    border:none;
    outline: none;
    cursor: pointer;
}

.formula__input_button::before{
     font-family: 'icomoon';
  content: "\f002";
  color: #1b1b1b;
}

.formulas__tooltips {
    position: absolute;
    min-height: 20vh;
    max-height: 50hv;
    min-width: 200px;
    max-width: 500px;
    margin-top: 25px;
    padding:25px;
    background-color: rgba(250,250,250,0.9);
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    z-index: 2;
}